<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.4" targetFramework="net452" developmentDependency="true" />
  <package id="PacketDotNet" version="0.16.0" targetFramework="net452" />
  <package id="Pcap.Net.x86" version="1.0.4.1" targetFramework="net452" />
  <package id="SharpPcap" version="4.4.0" targetFramework="net452" />
  <package id="Trinet.Core.IO.Ntfs" version="4.0.0" targetFramework="net452" />
</packages>